# ==========================================
# OS
# ==========================================
.DS_Store
Thumbs.db
desktop.ini
.env

.dataset

# ==========================================
# IDE
# ==========================================
.idea/
.vscode/

# Eclipse / STS
.metadata/
.project
.classpath
.settings/
.springBeans
.factorypath
.apt_generated/

# ==========================================
# Logs
# ==========================================
*.log

# ==========================================
# Docs (PPT, Excel 등 산출물 제외)
# ==========================================
# docs/
# *.pptx
# *.xlsx
# *.docx
# *.pdf

# ==========================================
# Frontend (React/Vue/Node)
# ==========================================
FE/node_modules/
FE/build/
FE/dist/
FE/.next/
FE/out/
FE/.nuxt/

# env
FE/.env
FE/.env.local
FE/.env.development.local
FE/.env.production.local

# ==========================================
# Backend Spring (Maven)
# ==========================================
BE/std_mng/target/
BE/std_mng/bin/
BE/std_mng/build/
BE/std_mng/out/

# Maven
BE/std_mng/pom.xml.tag
BE/std_mng/pom.xml.releaseBackup
BE/std_mng/pom.xml.versionsBackup
BE/std_mng/pom.xml.next
BE/std_mng/release.properties
BE/std_mng/dependency-reduced-pom.xml

# Spring secret
BE/std_mng/src/main/resources/application-local.yml
BE/std_mng/src/main/resources/application-prod.yml
BE/std_mng/src/main/resources/application-secret.yml
BE/std_mng/.env

# Tomcat / Apache (스크린샷에 노출된 apache 폴더 통째로 제외)
BE/std_mng/
BE/work/
BE/temp/
BE/apache/

BE2/stdmng/target/
BE2/stdmng/bin/
BE2/stdmng/build/
BE2/stdmng/out/

# Maven
BE2/stdmng/pom.xml.tag
BE2/stdmng/pom.xml.releaseBackup
BE2/stdmng/pom.xml.versionsBackup
BE2/stdmng/pom.xml.next
BE2/stdmng/release.properties
BE2/stdmng/dependency-reduced-pom.xml

# Spring secret
BE2/stdmng/src/main/resources/application-local.yml
BE2/stdmng/src/main/resources/application-prod.yml
BE2/stdmng/src/main/resources/application-secret.yml
BE2/stdmng/.env

# Tomcat / Apache (스크린샷에 노출된 apache 폴더 통째로 제외)
BE2/Servers/
BE2/work/
BE2/temp/
BE2/apache/


# ==========================================
# Docker Volume
# ==========================================
docker/data/
opensearch_data/